<div class="reset-password-container">
    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="oldPassword">Please enter old password</label>
        <input id="oldPassword" formControlName="oldPassword" type="password">
        <div *ngIf="resetPasswordForm.get('oldPassword')?.invalid && resetPasswordForm.get('oldPassword')?.touched" class="error">
          Old password is required.
        </div>
      </div>
  
      <div>
        <label for="newPassword">Please enter new password</label>
        <input id="newPassword" formControlName="newPassword" type="password">
        <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched" class="error">
          New password is required and must be at least 8 characters long, include uppercase letters, lowercase letters, numbers, and special characters.
        </div>
      </div>
  
      <div>
        <label for="confirmPassword">Please re-enter new password</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password">
        <div *ngIf="resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('confirmPassword')?.touched" class="error">
          Passwords do not match.
        </div>
      </div>
  
      <button type="submit" [disabled]="resetPasswordForm.invalid">Submit</button>
    </form>
  </div>
  