<div class="forgot-password-container">
  <h2>Forgot Password</h2>
  <form [formGroup]="forgotPasswordForm" *ngIf="!showOtpForm" (ngSubmit)="sendOtp()">
    <div>
      <label>
        <input type="radio" formControlName="option" value="email" (change)="onOptionChange()"> Send OTP to Email
      </label>
    </div>
    <div>
      <label>
        <input type="radio" formControlName="option" value="phone" (change)="onOptionChange()"> Send OTP to Phone Number
      </label>
    </div>
    
    <div *ngIf="showInputField">
      <label for="emailOrPhone">Please enter your {{ forgotPasswordForm.value.option === 'email' ? 'Email' : 'Phone Number' }}</label>
      <input id="emailOrPhone" formControlName="emailOrPhone" type="text" [attr.type]="forgotPasswordForm.value.option === 'email' ? 'email' : 'text'">
      <div *ngIf="forgotPasswordForm.get('emailOrPhone')?.hasError('required') && forgotPasswordForm.get('emailOrPhone')?.touched" class="error">
        Required field.
      </div>
      <div *ngIf="forgotPasswordForm.get('emailOrPhone')?.hasError('invalidEmail') && forgotPasswordForm.get('emailOrPhone')?.touched" class="error">
        Invalid email format.
      </div>
      <div *ngIf="forgotPasswordForm.get('emailOrPhone')?.hasError('invalidPhoneNumber') && forgotPasswordForm.get('emailOrPhone')?.touched" class="error">
        Phone number must be exactly 10 digits.
      </div>
    </div>

    <button type="submit" [disabled]="forgotPasswordForm.invalid">Send OTP</button>
  </form>

  <form [formGroup]="otpForm" *ngIf="showOtpForm" (ngSubmit)="verifyOtp()">
    <div>
      <label for="otp">Enter OTP</label>
      <input id="otp" formControlName="otp" type="text">
    </div>
    <button type="submit" [disabled]="otpForm.invalid">Verify OTP</button>
  </form>
</div>
